* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 700px;
  display: flex;
  justify-content: space-between;
  filter: url(#liquid);
}

.container .circle {
  position: relative;
  min-width: 300px;
  height: 300px;
  background: #000;
  border-radius: 50%;
}

.container .circle::before {
  content: "";
  position: absolute;
  inset: -50px;
  border-radius: 50%;
  filter: blur(40px);
}

.container .circle.circle1,
.container .circle.circle1::before {
  background: linear-gradient(45deg, #ffeb3b, #da00ff);
}

.container .circle.circle2,
.container .circle.circle2::before {
  background: linear-gradient(45deg, #fd24bf, #ffeb3b);
}


svg {
    width: 0;
    height: 0;
}